/* 

--- 01 Typography System
  - FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


  - Font weights:
    - Default: 400
    - Medium: 500
    - Semi-bold: 600
    - Bold: 700

  - Line heights:
    - Default: 1
    - Small: 1.05
    - Medium: 1.2
    - Large: 1.8
    - Paragraph: 1.6

  - Letter Spacing
    - 0.5px
    - 0.75px


--- 02 Colors

  - Primary: #087f5b

  - Tints: #e6f2ef

  - Shades: #066649

  - Accents: 

  - Greys: #555 

--- 05 Shadows
  - box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 Border-radius
  - Default: 9px
  - Medium: 11px


--- 07 Whitespace
  - SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* overflow-x: hidden; */
}
