/* ******************************** */
/* BELOW 1344 pixels (Smaller desktops) */
/* ******************************** */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  /* ******************************** */
  /* BELOW 944px pixels (Tablets) */
  /* ******************************** */
  @media (max-width: 59em) {
    html {
      font-size: 50%;
    }

    .hero {
      grid-template-columns: 1fr;
      padding: 0 8rem;
      gap: 6.4rem;
    }

    .hero-text-box,
    .hero-image-box {
      text-align: center;
    }

    .hero-img {
      width: 60%;
    }

    .logos img {
      height: 2.4rem;
    }

    /* Mobile Navigation */
    .btn-mobile-nav {
      display: block;
      z-index: 9999;
    }

    .main-nav {
      background-color: rgba(255, 255, 255, 0.6);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(100%);

      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in;

      /* Hide the navigation */
      /* Allows no transtions at all */
      /* display: none; */

      /* 
    1. Hide it visually
    2. Make it unaccesible to mouse and keyboard
    3. Hide it from screen readers */

      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }

    .nav-open .main-nav {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
      display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
      display: none;
    }

    .main-nav-list {
      flex-direction: column;
      gap: 4.8rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
      font-size: 3rem;
    }
  }

  /* ******************************** */
  /* BELOW 704px pixels (Samller Tablets) */
  /* ******************************** */
  @media (max-width: 44em) {
    .grid--3-cols,
    .grid--4-cols {
      grid-template-columns: repeat(2, 1fr);
    }

    .heading-secondary {
      margin-bottom: 4.8rem;
    }

    .grid--footer {
      grid-template-columns: repeat(6, 1fr);
    }

    .nav-col {
      grid-row: 1;
      grid-column: span 2;
      margin-bottom: 3.2rem;
    }
  }

  /* ******************************** */
  /* BELOW 544px pixels (Samller Tablets) */
  /* ******************************** */
  @media (max-width: 34em) {
    .grid {
      row-gap: 4.8rem;
    }

    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols {
      grid-template-columns: 1fr;
    }

    .btn,
    .btn:link,
    .btn:visited {
      padding: 2.4rem 1.6rem;
    }

    .section-hero {
      padding: 2.4rem 0 6.4rem 0;
    }

    .hero-social-list {
      justify-content: center;
    }

    .project-cards-r {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr;
    }

    .project-cards-l {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;
    }

    .copyright {
      font-size: 1.4rem;
    }
  }
}
