/* ******************************** */
/* HEADER */
/* ******************************** */

.header {
  margin: 2.4rem 2.4rem 0 2.4rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cee5de;

  height: 9.6rem;
  padding: 0 4.8rem;

  border-radius: 30px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  /* position: relative; */
}

.logo {
  height: 9.8rem;
}

/* ******************************** */
/* NAVIGATION */
/* ******************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #066649;
}

/* ******************************** */
/* MAIN SECTION */
/* ******************************** */

.main-container {
  padding: 0 2.4rem 2.4rem 2.4rem;
}

/* ******************************** */
/* HERO SECTION */
/* ******************************** */

.section-hero {
  background-color: #cee5de;
  margin: 0 2.4rem 0 2.4rem;
  padding: 4.8rem 0 7.2rem 0;
  border-radius: 30px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  /* border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; */

  margin-bottom: 4.8rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-image-box {
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
}

.hero-image-box img {
  display: block;
  width: 100%;

  transition: all 0.4s;
}

.hero-image-box img:hover {
  transform: scale(1.1);
}

.hero-text-box {
  text-align: end;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-social-list {
  display: flex;
  justify-content: end;
  /* justify-content: center; */
  gap: 3.6rem;
}

.hero-social-link {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.hero-social-icon {
  height: 3rem;
  width: 3rem;
  color: #066649;
}

/* ******************************** */
/* FEATURED IN SECTION */
/* ******************************** */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

.logos img {
  height: 9.6rem;
}

/* ******************************** */
/* ABOUT SECTION */
/* ******************************** */

.section-projects {
  padding: 9.6rem 0;
}

.project {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;

  transition: all 0.4s;
}

.project:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.project-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.project-programming-languages {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.6rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: 100px;
  font-weight: 600;
  background-color: #066649;
}

/* .tag--html {
  background-color: orangered;
}

.tag--css {
  background-color: blue;
}

.tag--javascript {
  background-color: yellowgreen;
} */

.project-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.project-img {
  width: 100%;
}

.project-description {
  font-size: 1.8rem;
  line-height: 1.6;
}
